[submodule "theme/huey"]
	path = theme/huey
	url = git@github.com:wit-ctel/huey.git
[submodule "course/format/simple"]
	path = course/format/simple
	url = git@github.com:wit-ctel/moodle-format_simple.git
[submodule "local/academicyear"]
	path = local/academicyear
	url = git@github.com:wit-ctel/Moodle-local_academic-year.git
