[submodule "theme/huey"]
	path = theme/huey
	url = git@github.com:wit-ctel/huey.git
[submodule "course/format/simple"]
	path = course/format/simple
	url = git@github.com:wit-ctel/moodle-format_simple.git
[submodule "local/academicyear"]
	path = local/academicyear
	url = git@github.com:wit-ctel/Moodle-local_academic-year.git
[submodule "blocks/course_contents"]
	path = blocks/course_contents
	url = git@github.com:wit-ctel/moodle-block_course_contents.git
[submodule "blocks/academic_year"]
	path = blocks/academic_year
	url = git@github.com:wit-ctel/Moodle-block_academic-year.git
[submodule "blocks/student_fee"]
	path = blocks/student_fee
	url = git@github.com:wit-ctel/moodle-block_student_fee.git
